<nav>
  <div class="site-title">
    <a href="/index"><h1>Posts and Testimonials</h1></a>
  </div>
  <ul>
    <li><a href="../blogs">Blogs</a></li>
    <li><a href="../blogs/create">New Blog</a></li>
  </ul>
</nav>